# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable paredit': 'paredit:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'paredit'
      'submenu': [
        { 'label': 'Forward Slurp', 'command': 'paredit:forward-slurp' }
      ]
    ]
  }
]
